{erl_opts, [debug_info,
	   {i,"include"},
	   {i,"common_include"},
	   {i,"_build/default/lib/*/include"},   
            {d, 'EDOC', [{doc_path, "doc"}]}]}.
	    
{deps, [
        {connect,{git,"https://github.com/joq62/connect.git",{branch,"main"}}},
	{appl_server,{git,"https://github.com/joq62/appl_server.git",{branch,"main"}}},	

%% default services
       {service_discovery,{git,"https://github.com/joq62/service_discovery.git",{branch,"main"}}},
       {cmn_server,{git,"https://github.com/joq62/cmn_server.git",{branch,"main"}}},
       {log,{git,"https://github.com/joq62/log.git",{branch,"main"}}}
       ]}.